---
import IndexPage from "../../layouts/IndexPage.astro";
import { Search } from '../../components/Search'
import {getCollectionByName} from "../../utils/getCollectionByName";
import {useTranslations} from '../../i18n/utils'

const t = useTranslations('zh')
const posts = await getCollectionByName("blog", 'zh');

const frontmatter = {
  title: 'Search'
}
---

<IndexPage frontmatter={frontmatter} lang="zh">
  <div class="text-2xl mb-4 text-skin-base">{t('search.search')}</div>
  <Search client:only="solid-js" posts={posts} lang="zh"/>
</IndexPage>
