---

---

<div class="shadow-lg rounded-lg h-32 w-auto flex flex-col items-center justify-center bg-skin-card p-2">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456"
    crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
    data-ad-format="autorelaxed"
    style="display:block;width:100%;height:90px"
    data-ad-client="ca-pub-9516394402935661"
    data-ad-slot="1234567890"></ins>
  <script is:inline>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
