---
import PostViewTitle from '../components/PostViewTitle.astro'
import {useTranslations, type Lang} from '../i18n/utils'
const {blog, lang = 'en'} = Astro.props;
const t = useTranslations(lang as Lang)
const {data, slug} = blog
const cleanSlug = slug.replace(/^(en|zh)\//, '')
const prefix = lang === 'zh' ? '/zh/blog/' : '/blog/'
---

<div>
  <PostViewTitle
    slug={`${prefix}${cleanSlug}`}
    {...data}
  >
  </PostViewTitle>
  <p class="break-all text-skin-base mb-2">
    {
      data.description ? data.description : ''
    }
  </p>
  <div class="text-right">
    <a class="read-more-btn text-sm border rounded py-1 px-2" href={`${prefix}${cleanSlug}`}>{t('home.readMore')}</a>
  </div>
</div>
