---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Profile from '../components/Profile.astro'
import BlogAside from '../components/BlogAside.astro'
import Comment from '../components/Comment.astro'
import Donate from '../components/Donate.astro'
import {donate, comment} from "../consts";
import { getLangFromUrl, type Lang } from '../i18n/utils'

const { frontmatter = { comment: false, donate: false }, lang: langProp } = Astro.props
const lang: Lang = langProp ?? getLangFromUrl(Astro.url)
---

<html lang={lang === 'zh' ? 'zh-CN' : 'en'}>
<BaseHead title={frontmatter.title} />

<body class="bg-skin-secondary relative">
<Header lang={lang}/>
<main class="container p-4 pt-20 text-skin-base pb-32 min-h-full relative" id="app">
  <div class="grid grid-cols-4 gap-8">
    <div class="col-span-4 xl:col-span-3 space-y-6">
      <slot></slot>
      {
        donate.enable && frontmatter.donate &&
        <Donate></Donate>
      }
      {
        comment.enable && frontmatter.comment &&
        <Comment></Comment>
      }
    </div>
    <div>
      <div class="hidden xl:block space-y-6">
        <Profile></Profile>
        <BlogAside></BlogAside>
      </div>
    </div>
  </div>
  <Footer lang={lang}/>
</main>
</body>
<script>
  document.body.querySelectorAll("a").forEach(item => {
    item.setAttribute("rel", "nofollow noreferrer");
  });
</script>
</html>
